.title-row {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px grey ;
}

.buttons {
  display:  flex;
  justify-content: flex-start;
  padding-top: 15px;
  margin-left: 9rem;
  
  
}

.btn {
  margin: 10px;
}